table {
	border-collapse: collapse;
}

body {
	background-image: url('/assets/images/wood7.bmp');
	background-attachment: fixed;
	padding:0px;
	margin:0px;
}

.violin {
	background-color:#e8e9eal
	background-image: url('/assets/images/wood8.bmp');
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: top right;
	width: 200px !important;
}

.vid-desc {
	padding: 5px;
	border: solid 1px #999;
}

h1,a {
	color: #002B54;
	font-family: Georgia;
	font-style: italic;
	text-shadow: -1px -1px 1px #FFFFFF;
}

h3 {
	color: #000000;
	font-family: Georgia;
	font-style: italic;
	text-shadow: -1px -1px 1px #FFFFFF;
}

p {
	color: #000000;
	font-family: Times New Roman;
	text-shadow: -1px -1px 1px #FFFFFF;
}

.post{
	color: #000000;
	font-family: Times New Roman;
	text-shadow: -1px -1px 1px #FFFFFF;	
}
.title{
	color: #002B54;
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-shadow: -1px -1px 1px #FFFFFF;
}

td{
	padding:5px;
}